{% extends "Content_Management/theme.html" %}
{% load staticfiles %}

{% block "body_contents" %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" align="center">
                Candidate Eligibility
            </h1>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

   	<div class="row">
   		<div class="col-lg-12">
   			<div class="panel panel-default">
			    <div class="panel-heading">
			    	<strong>Eligibility Info</strong>
			    </div>
			    <div class="panel-body">
			    	<div id="eligibility">
			    		<div class="alert alert-warning">No Eligibities Found!!</div>
			    	</div>
			    </div>
			    {% if request.user.is_superuser %}
				    <div class="panel-footer">
				    	<div class="row">
				    		<div class="col-lg-11">
				    			<input class="form-control" type="text" id="added_eligibility"
				    			placeholder="Add New Eligibility">
				    		</div>
				    		<div class="col-lg-1">
				    			<a class="btn btn-success" id="new_eligibility">
				    				<i class="fa fa-plus"></i>
				    			</a>
				    		</div>
				    	</div>
				    	
				    </div>
			    {%endif%}
			</div>
   		</div>
   	</div>	
   	<!-- /.row-->
{% endblock %}

{% block "custom_scripts" %}
	<!-- Script for the page -->
    <script type="text/javascript" src="{% static 'custom_js/csrf-header.js' %}"></script>

	<script type="text/javascript">
         var URL_DICT = {
            eligibility:"{% url 'Eligibility' %}",
         };

        var Eligibility_Count = 0;

		var no_data_html  = '<div class="alert alert-warning fade in">';
			no_data_html += 'No Eligibities Found!!';
			no_data_html += '</div>';

         var EL_CLOSE = false;
         

         // {% if request.user.is_superuser %}
         // ==============================================================================
		// function to delete eligiblity from database

		EL_CLOSE = '<a class="close" data-dismiss="alert" aria-label="close" \
						onClick="dlt_eligibility(%d);"> \
						<i class="fa fa-close"></i></a>';

		function dlt_eligibility(el_id) {
			$.ajax({
				url: URL_DICT.eligibility,
				type: "POST",
				data: {submit: "dlt_eligibility", id: el_id},
				success: function(data) {

					Eligibility_Count --;
					if(Eligibility_Count === 0) {
						$("#eligibility").html(no_data_html);
					}
					alert("Eligibility Deleted");
				}
			});
		}

		//{% endif %}

    </script>

    
    <script type="text/javascript" src="{% static 'custom_js/eligibility.js' %}"></script>
{% endblock "custom_scripts" %}